<p id="notice"><%= notice %></p>

<p>
  <strong>Topic:</strong>
  <%= @request.topic %>
</p>

<p>
  <strong>Description:</strong>
  <%= @request.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @request.location %>
</p>

<p>
  <strong>Status:</strong>
  <%= @request.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @request.user.email %>
</p>


<h2>Comments</h2>
<table id="ice">
  <thead>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>User ID</th>
    <th>Request id</th>
  </tr>
  </thead>
  <tbody>
  <% @request.comments.each do |comment| %>
      <tr>
        <td><%= comment.title %></td>
        <td><%= comment.description %></td>
        <td><%= comment.user_id %></td>
        <td><%= comment.request.id %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<br/>
<h2>Add a comment:</h2>
<%= form_for([@request, @request.comments.build]) do |f| %>
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>

    <div class="field">
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>

    <!--<div class="field">-->
      <!--<%# f.label :user_id %>-->
      <!--<%# f.number_field :user_id, :value => current_user.id, :readonly => true %>-->
    <!--</div>-->
    <%= hidden_field_tag(:user_id, current_user.id) %>
    <%= hidden_field_tag(:request_id, @request.id) %>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>


<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
